@inherits LayoutComponentBase

<div class="page">
    @Body
    <footer>
        <p>
            © 2024-2025 Petr 'BigBang1112' Pivoňka<br />
            <small>
                Not affiliated with or endorsed by Nadeo or Ubisoft.
                All relevant trademarks belong to their respective owners.
            </small>
        </p>
    </footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
