<div class="reu-navbar">
    <div class="container">
        <div class="reu-navbar-left">
            <a class="reu-navbar-brand" href="">nc.gbx.tools</a>
        </div>

        <input id="burger" type="checkbox" />
            <label for="burger" class="burger nav-link">
                <img src="icons/ui/menu.svg" alt="Menu" width="32" height="32" />
            </label>

        <nav>
            <div class="nav-item" title="Home">
                <NavLink class="nav-link wide" href="" Match="NavLinkMatch.All">
                    <img src="icons/ui/home.svg" alt="Home" class="icon" width="32" height="32" />
                    <span>Home</span>
                </NavLink>
            </div>

            <div class="nav-item" title="Downloads">
                <NavLink class="nav-link wide" href="downloads">
                    <img src="icons/ui/download.svg" alt="Downloads" class="icon" width="32" height="32" />
                    <span>Downloads</span>
                </NavLink>
            </div>

            <div class="nav-item" title="About">
                <NavLink class="nav-link wide" href="about">
                    <img src="icons/ui/info.svg" alt="About" class="icon" width="32" height="32" />
                    <span>About</span>
                </NavLink>
            </div>

            <div class="nav-item" title="GitHub">
                <a class="nav-link" href="https://github.com/BigBang1112/nations-converter">
                    <img src="icons/github-mark-white.svg" alt="GitHub" width="28" height="28" />
                </a>
            </div>

            <div class="nav-item" title="Join the Discord server">
                <a class="nav-link discord" href="https://discord.nc.gbx.tools">
                    <img src="icons/ui/discord.svg" alt="Discord" width="32" height="32" />
                </a>
            </div>
        </nav>
    </div>
</div>