@page "/about"
@attribute [AllowAnonymous]

<PageTitle>About - Nations Converter 2</PageTitle>

<NavMenu Released="true" />
<div class="downloads">
    <div class="readable-width white-mention">
        <div class="readable-width-container">
            <h2>About this project</h2>
            <p>One day, we will write something here...</p>
        </div>
    </div>
</div>
