@page "/"
@rendermode InteractiveServer

<PageTitle>Nations Converter 2</PageTitle>

<h1><img id="logo" src="img/logo.webp" width="600" /></h1>

<a href="/login-discord" id="button-discord">Sign in with Discord</a>

