@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavManager
@attribute [AllowAnonymous]

<PageTitle>Nations Converter 2</PageTitle>

<h1><img id="logo" src="img/logo.webp" width="600" /></h1>

<a href="/login-discord" id="button-discord">Sign in with Discord</a>

@code {
    [CascadingParameter] public Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateTask is null)
        {
            return;
        }

        var authState = await AuthenticationStateTask;
        if (authState.User.Identity?.IsAuthenticated == true)
        {
            if (authState.User.IsInRole("Admin") || authState.User.IsInRole("Developer") || authState.User.IsInRole("Modeler"))
            {
                NavManager.NavigateTo("/dashboard");
            }
            else
            {
                NavManager.NavigateTo("/thank-you");
            }
        }
    }
}