.support {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6C915;
}

.web-browser-button {
    display: block;
    padding: 15px 30px;
    border-radius: 20px;
    text-align: center;
}

.button-github-large {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 25px;
    border: 3px solid black;
    font-weight: bold;
    text-decoration: none;
    color: black;
    width: 250px;
    font-size: 125%;
    transition: 0.2s;
}

    .button-github-large:hover {
        color: #888;
        background-color: black;
    }

.button-support {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 25px;
    border-radius: 25px;
    border: 3px solid black;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 125%;
    transition: 0.2s;
    text-align: center;
}

    .button-support:hover {
        color: #F6C915;
        background-color: black;
    }

.open-source div {
    display: flex;
    align-items: center;
    gap: 20px;
}

#button-discord {
    display: block;
    border: 2px solid #457;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    text-align: center;
    background-color: #346;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

    #button-discord:hover {
        background-color: #457;
    }