@page "/thank-you"
@attribute [Authorize]

<PageTitle>Thank you! - Nations Converter 2</PageTitle>

<h1><img id="logo" src="img/logo.webp" width="600" /></h1>

<p>Thank you @globalName for the support!</p>

<p>You will be notified on Discord though the Nations Converter bot once the first alpha goes live.</p>

<p>We will see your awesome Discord profile picture and name everytime we "go to work".</p>

@code {
    [CascadingParameter] public Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    private string? globalName;

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateTask is null)
        {
            return;
        }

        var authState = await AuthenticationStateTask;
        var user = authState.User;

        globalName = user.Identities
            .FirstOrDefault()?
            .FindFirst(DiscordAdditionalClaims.GlobalName)?.Value
            ?? user.Identity?.Name;
    }
}