<div class="image-comparison">
    <div class="images-container">
        <img class="before-image" src="img/comparisons/before.png" alt="" />
        <img class="after-image" src="img/comparisons/after.png" alt="" />


        <div class="slider-line"></div>
        <div class="slider-icon">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1"
                 stroke="currentColor"
                 class="w-6 h-6">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
            </svg>
        </div>

        <input type="range" class="slider" min="0" max="100" step="0.01" />
    </div>
</div>

@code {

}
