<nav>
    <div class="inner">
        <span class="gbx-tools">gbx.tools</span>
        <div class="nav-item"><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></div>
        @if (Released)
        {
            <div class="nav-item"><NavLink href="/downloads">Downloads</NavLink></div>
            <div class="nav-item"><NavLink href="/about">About</NavLink></div>
        }
    </div>
    <div class="inner">
        @if (Released)
        {
            <div class="nav-item"><a href="https://discord.gg/BJB3hjfkJa"><img src="img/discord-mark-white.svg" width="32" /></a></div>
        }
        <div class="nav-item"><a href="https://github.com/BigBang1112/nations-converter">GitHub</a></div>
        <div class="nav-item"><a href="/login-discord">Sign in with Discord</a></div>
    </div>
</nav>

@code {
    [Parameter]
    public bool Released { get; set; }
}
